html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color:rgb(255, 255, 255)
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 4px;
    width: 10em;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding: 20px;
    width: 75%;
    background-color:rgb(247, 247, 247)
  
}

div.header {
    font-size: 50px;
}

hr {
    width: 95%;
}

div.bottom-navigation {
    display: flex;
    justify-content: space-around;
    width: 95%;
    
}

div.topics-container {

    width: 75%;
padding: auto;
    
}

a.link-to-question {
    
    height: 50px;
    margin: 15px auto;
    line-height: 2;
    width: 500px;
    text-align: center;
display: block;
    text-decoration: none;
    color: black;
    border: solid rgb(129, 120, 120);   
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

a.link-to-question:hover,
a.link-to-equation:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

span {
    padding: auto;
}
